departamento, cabecera, habitantes, altura, pais {
    display: block;
}

pais {
    background-color: rgb(248, 255, 227);
}

departamento {
    background-color: rgba(137, 216, 117, 0.397);
    margin-bottom: 10px;
    padding: 20px;
}

departamento{
    font-family: sans-serif;
    font-size:larger;
    font-style: italic;
    color: black;
}
