fichero, ficha, nombre, apellido, direccion, contacto, telefono, email, website, dui, isss, afp{
    display: block;
}

fichero {
    background-color: rgb(255, 247, 247);
}

ficha {
    background-color: rgba(117, 163, 216, 0.397);
    margin-bottom: 10px;
    padding: 20px;
}

nombre, apellido, telefono, email, website, direccion, dui, isss, afp{
    font-family: sans-serif;
    font-size:larger;
    font-style: italic;
    color: black;
}